<!-- エラーメッセージ表示-->
<% if text.errors.any? %>
  <h3><%= text.errors.count %>error occurrence</h3><!--エラーメッセ-->
  <ul>
    <% text.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<!-- エラーメッセージ表示-->
